<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="wrapper">
      
    
    <header>
      <h1>
       Gagapi (Gag-Api)
      </h1>
    </header>

    <main>
      <h2>
        Was wird das hier?
      </h2>
      
      <p>
        "Oh, hallo! Da bist du ja. Du musst aber ein Comedy-Interessierter Mensch sein, wenn du dich auf diese Seite verirrt hast. 
        Um hierher zu gelangen musst du weit in die untiefen des Internets vorgerdrungen sein.
      </p>
      
      <p>
        Gagapi ist der Versuch eine Datenbank aufzubauen, in der sich irgendwann ALLE lustigen Gags finden lassen.
        Über eine Api werden die dann abrufbar sein und diese Api kannst auch DU gerne benutzen. Wie das geht siehst du in der <a href="/docs">Dokumentation</a>.
      </p>
      
      
      <a href="/docs">Hier geht's zur Dokumentation</a>
      
    </main>
      
      </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
